.center {
	width: 100%;
	text-align: center;
}

.table_center {
	margin: auto;
}

.table_wrapper
{
    border: 1px solid red;
    width: 800px;
    height: 400px;
    overflow: scroll;
	margin: auto;
}