.green { 
	background: lightgreen !important; 
}
.blue { 
	background: lightblue !important; 
}


.center {
	text-align: center;
	width: 100%;
}

.table_center {
	margin: auto;
	position: relative;
}

.table_wrapper
{
    border: 3px solid black;
	margin: auto;
	display: inline-block;
	overflow: hidden;
}